.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.alignleft {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}

.alignright {
	float: right;
	margin-left: 20px;
	margin-bottom: 15px;

}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

.section-animate p {
    transition: all .7s ease-out;
    -webkit-transform: translate(0,100px);
    transform: translate(0,100px);
    opacity: 0;
}

.section-animate p.add-animate {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1;
}

.wpcf7-not-valid-tip { display:none !important; }
.wpcf7-response-output { margin:15px 0 0 0 !important; text-align:center; }
.wpcf7-not-valid { border-color: #C00 !important; }

.right-menu .current_page_item > a, .right-menu .current-post-ancestor > a, .right-menu .current-menu-item > a,
.right-menu .current-page-ancestor > a, .right-menu .current-menu-ancestor > a, .right-menu .current-menu-parent > a
{ color: #fff !important; }

.link-copy .current_page_item > a, .link-copy .current-post-ancestor > a, .link-copy .current-menu-item > a,
.link-copy .current-page-ancestor > a, .link-copy .current-menu-ancestor > a, .link-copy .current-menu-parent > a
{ color: #f37e34 !important; }